
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}

.navbar{
    background-color: #D96846;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}


.links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 90px;
    padding: 5px 20px;
    gap: 70px;
    
    
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 25px;  
    padding-top: 12px; 
    
}
.navbar input{
  border-radius: 25px;
  font-size: 10px;
  padding: 5px 5px;
  border: none;
  margin-top: 10px;

}
.navbar a:hover{
  -webkit-text-decoration: underline black;
          text-decoration: underline black;
  text-shadow: 0 0 20px black;
  scale: 1.05;
  
}
.navbar h2{
    font-size: 35px;
    font-weight: 900;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}
.about{
    
    width: 100%;
   background: -webkit-gradient(linear,left top, right top,from(#D96846),color-stop(rgba(72, 66, 66, 0.276)),to(#D96846));
   background: -o-linear-gradient(left,#D96846,rgba(72, 66, 66, 0.276),#D96846);
   background: linear-gradient(to right,#D96846,rgba(72, 66, 66, 0.276),#D96846);
    padding: 30px 70px;
   padding-top: 180px;
    
}
.line{
  font-size: 22px;
  line-height: 1.2;
  color: #fff;
  max-width: 355px;
  margin-top: 100px;
  margin-left: 55px;
  font-size: 35px;
}
.highlight{
  color: black;
  padding: 2px 8px;
  font-weight: 700;
  font-size: 40px;
  text-shadow: 0 0 10px black;
}
select{
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
}
option{
  color: black;
  
}
select #find{
  background-color: transparent;
  background: none;
}
.about .badges{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 100px;
  margin-left: 40px;
  margin-bottom: 200px;
}
.badges .badge{
  background: #fff;
  padding: 10px 18px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  color: #333;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 15);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 15);
}

@-webkit-keyframes Animate{
  from{
    --rotate:0deg;
  }
  to{
    --rotate:360deg;
  }
}

@keyframes Animate{
  from{
    --rotate:0deg;
  }
  to{
    --rotate:360deg;
  }
}
@property --rotate{
  syntax:"<angle>" ;
  initial-value: 0deg;
  inherits: false;
}

.box{
 height: 340px;
 max-width: 240px;
  border: 4px solid rgba(255, 0, 170, 0.008);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
 
  
  background: -webkit-gradient(linear, left top, left bottom, from(black)) padding-box,
   conic-gradient(from var(--rotate), black,#D96846) border-box
  ;
 
  
  background: -o-linear-gradient(black) padding-box,
   conic-gradient(from var(--rotate), black,#D96846) border-box
  ;
 
  
  background: linear-gradient(black) padding-box,
   conic-gradient(from var(--rotate), black,#D96846) border-box
  ;
  color: white;
  position: absolute;
  right: 150px;
  top: 120px;
  rotate: 340deg;
  -webkit-box-shadow: 0 0 50px black;
          box-shadow: 0 0 50px black;
  -webkit-animation: Animate 8s linear;
          animation: Animate 8s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-color: rgb(255, 0, 157);
  color: #D96846;
  
  text-shadow:0 0 5px #D96846
 

}

.box h3{
  font-size: 35px;
  font-weight: 800;
}
.box p{
  margin-left: 20px;
}
.box img{
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}



@keyframes Animate{
  from{
    --rotate:0deg;
  }
  to{
    --rotate:360deg;
  }
}
@property --rotate{
  syntax:"<angle>" ;
  initial-value: 0deg;
  inherits: false;
}

.box1{
  height: 340px;
  max-width: 240px;
  border: 4px solid rgba(255, 0, 170, 0.008);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
 
  
  background: -webkit-gradient(linear, left top, left bottom, from(black)) padding-box,
   conic-gradient(from var(--rotate), black,#D96846) border-box
  ;
 
  
  background: -o-linear-gradient(black) padding-box,
   conic-gradient(from var(--rotate), black,#D96846) border-box
  ;
 
  
  background: linear-gradient(black) padding-box,
   conic-gradient(from var(--rotate), black,#D96846) border-box
  ;
  color: white;
  position: absolute;
  right: 500px;
  top: 120px;
  rotate: 30deg;
  -webkit-box-shadow: 0 0 50px black;
          box-shadow: 0 0 50px black;
  -webkit-animation: Animate 8s linear;
          animation: Animate 8s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-color: rgb(255, 0, 157);
  color: #D96846;

  text-shadow:0 0 5px #D96846
 

}

.box1 h3{
  font-size: 35px;
  font-weight: 800;
}
.box1 p{
  margin-left: 20px;
}
.box1 img{
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

@keyframes Animate{
  from{
    --rotate:0deg;
  }
  to{
    --rotate:360deg;
  }
}
@property --rotate{
  syntax:"<angle>" ;
  initial-value: 0deg;
  inherits: false;
}

.box2{
  height: 340px;
  max-width: 240px;
  border: 4px solid rgba(255, 0, 170, 0.008);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
 
  
  background: -webkit-gradient(linear, left top, left bottom, from(black)) padding-box,
   conic-gradient(from var(--rotate), black,#D96846) border-box
  ;
 
  
  background: -o-linear-gradient(black) padding-box,
   conic-gradient(from var(--rotate), black,#D96846) border-box
  ;
 
  
  background: linear-gradient(black) padding-box,
   conic-gradient(from var(--rotate), black,#D96846) border-box
  ;
  color: white;
  position: absolute;
  right: 350px;
  top: 380px;
  rotate: 360deg;
  -webkit-box-shadow: 0 0 50px black;
          box-shadow: 0 0 50px black;
  -webkit-animation: Animate 8s linear;
          animation: Animate 8s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-color: rgb(255, 0, 157);
  color: #D96846;
  
  text-shadow:0 0 5px #D96846
 

}

.box2 h3{
  font-size: 35px;
  font-weight: 800;
}
.box2 p{
  margin-left: 20px;
}
.box2 img{
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.box2:hover{
    -webkit-transform: scale(1.05) ;
        -ms-transform: scale(1.05) ;
            transform: scale(1.05) ;
}
.box1:hover{
    -webkit-transform: scale(1.05) ;
        -ms-transform: scale(1.05) ;
            transform: scale(1.05) ;
}
.box:hover{
    -webkit-transform: scale(1.05) ;
        -ms-transform: scale(1.05) ;
            transform: scale(1.05) ;
}


.matches{
  height: 45rem;
  width: 100%;
  background: -webkit-gradient(linear,left top, left bottom,from(white),to(#D96846));
  background: -o-linear-gradient(white,#D96846);
  background: linear-gradient(white,#D96846);
  color: #D96846;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  


  
}

.card{
  
  max-width: 300px;
  background-color: #D96846;
  border-radius: 10px;
  color: white;
  margin-top: 50px;
  margin-left: 10px;
   overflow: hidden;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    padding-bottom: 20px;
  
}



.cards{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
padding: 10px;




}
.card:hover img{
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}
.card:hover{
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
.cards img{
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 60px black;
          box-shadow: 0 0 60px black;
   -webkit-transition: .4s ease;
   -o-transition: .4s ease;
   transition: .4s ease;
  
}
.cards button{
  padding: 10px 25px;
  border-radius: 20px;
  background: -webkit-gradient(linear,left top, left bottom,from(#D96846),to(#ffffff));
  background: -o-linear-gradient(#D96846,#ffffff);
  background: linear-gradient(#D96846,#ffffff);
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  
}
.cards h1{
  font-weight: 800;
  color: black;
  text-shadow: 0 0 50px black;
  font-family: Arial, Helvetica, sans-serif;
}
.cards h4{
  font-size: 16px;
}

.cards h3{
  color: yellow;
  font-weight: 800;
  font-size: 20px;
}
.cards span{
  color: black;
  font-weight: 800;
  font-size: 17px;
}

.matches>h1{
  position: absolute;
  margin-bottom: 600px;
  left: 750px;
  color: black;
  font-size: 50px;
  font-weight: 900;
  font-family: cursive;
  -webkit-animation: upcoming 2s infinite ease-in-out;
          animation: upcoming 2s infinite ease-in-out;
  
}
@-webkit-keyframes upcoming{
 0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.35);
                transform: scale(1.35);  
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);     
    }
}
@keyframes upcoming{
 0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.35);
                transform: scale(1.35);  
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);     
    }
}

.poster {
    max-width: 650px;
    height: 400px;
    display: none; 
    margin-top: 0; 
    border: 2px solid black;
    position: absolute;
    top: 70px;
    left: 350px;
    z-index: 9999;
    border-radius: 10px;
    background: -webkit-gradient(linear,left top, left bottom,from(black),color-stop(gray),to(black));
    background: -o-linear-gradient(black,gray,black);
    background: linear-gradient(black,gray,black);
    
    
    
}

.poster p{
   padding: 20px;
   margin-left: 20px;
   font-size: 22px;
   -webkit-animation: poster 2s infinite ease-in-out;
           animation: poster 2s infinite ease-in-out;
   color: rgb(217, 10, 10);
}
@-webkit-keyframes poster{
 0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.04);
                transform: scale(1.04);  
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);     
    }
}
@keyframes poster{
 0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.04);
                transform: scale(1.04);  
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);     
    }
} 

.matches #registraion{
  max-width: 650px;
    height: 400px;
    display: none; 
    margin-top: 0; 
    border: 2px solid black;
    position: absolute;
    top: 170px;
    left: 350px;
    z-index: 9999;
    border-radius: 10px;
    background-color: black;
    
}

 #part3{
  width: 100%;
  height: 750px;
  background: -webkit-gradient(linear,left top, left bottom,from(white),to(#D96846));
  background: -o-linear-gradient(white,#D96846);
  background: linear-gradient(white,#D96846);
  
}


.navbar i{
  position: absolute;
  top: 18px;
  left: 780px;
  font-size: 20px;
  color: black;
}

#contact{
  background: -webkit-gradient(linear,left top, left bottom,from(white),to(#D96846));
  background: -o-linear-gradient(white,#D96846);
  background: linear-gradient(white,#D96846);
  width: 100%;
  height: auto;
  color: black;
  padding-top: 90px;
  position: relative;
  padding-bottom: 50px;
    scroll-margin-top: 120px;
  
  
}
#contact form{
 max-width: 600px;
  height: 350px;
  background-color: rgb(228, 226, 226);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  margin-left: 700px;
  
}

#contact input {
  width: 400px;
  padding: 10px 20px;
  font-size: 20px;
  background: transparent;
  border: none;
  text-align: left;
  outline: none;
  
  
}
#contact input:focus {
    outline: 2px solid rgba(0, 0, 0, 0.3); 
    border-radius: 20px;
}
#contact h1{
  position: absolute;
  left: 800px;
  bottom: 415px;
  font-size: 40px;
  font-weight: 800;
}
 form button{
  margin-left: 50px;
  padding: 10px 210px;
  background-color: rgba(255, 255, 0, 0.628);
  border-radius: 20px;
  border: none;
  font-size: 22px;
  font-weight: 600;
}

#contact .note{
  font-size: 20px;
 
  position: absolute;
  top: 120px;
   width: 300px;
  left: 100px;
  font-weight: 600;
}

#social-media{
  height: 200px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.874)));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.874));
  background: linear-gradient(rgba(0, 0, 0, 0.874));
  color: white;
  position: relative;
  
  
  
}
#social-media p{
  font-size: 18px;
  text-align: center;
  padding-top: 40px;

}
#social-media i{
  font-size: 30px;
  padding: 10px;
  
  
 

}
#social-media .socials{
padding-left: 920px;
padding-top: 20px;
}

#status{
  position: absolute;
  left: 38%;
  padding-top: 10px;
  font-size: 20px;
}

.post{
  height: 500px;
  width: 770px;
  background: linear-gradient(black,#D96846,black);
  position: absolute;
  top: 820px;
  left: 705px;
  z-index: 9999;
  display: none;
  border-radius: 20px;

}
.post form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  padding-top: 60px;
  
  
}
.post h2{
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  padding-top: 10px;
}
.post form input{
  width: 100%;
  border: none;
  font-size: 20px;
  padding: 12px;
  border-radius: 15px;
  background-color: #171717;
  color: white;
    
}
.post form button{
  position: absolute;
  bottom: 30px;
  width: 82%;
}

.post i{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
  color: white;
  background-color: red;
  border-radius: 50%;
  font-size: 35px;
  
}

#loader {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  opacity: 1;
  visibility: visible;
  transition: all 0.6s ease;
}

#loader.hide {
  opacity: 0;
  transform: scale(1.5);
  filter: blur(10px);
}


.spinner {
  width: 70px;
  height: 70px;
  border: 6px solid #444;
  border-top: 6px solid #D96846;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

#loader h2 {
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#website{
  display: none;
}
